body{
  padding: 0;
  margin: 0;
}
.container{
  position: relative;
  width: 100%;
  height: 550px;
  background: #000;
  overflow: hidden;
}
#introSlider{
  position: absolute;
  height: inherit;
  padding: 0;
  margin : 0;
  left: 0px;
  flex-direction: row;
  transition: 0.3s;
  clear: both;
}
.introSlides{
  width: 100vw;
  height: 550px;
  display: inline-block;
  list-style: none;
  float: left;
}
a{
  width: 50px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
}
#prev{
  left: 5%;
}
#next{
  right: 5%;
}

.introBanMenu{
  position: absolute;
  bottom: 10px;
  width: auto;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.introBanMenu li{
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 3px;
}
.introBanMenu li.active{
  background: rgba(255, 255, 255, 1);
}
.introBanMenu li.active{
  width: 30px;
  border-radius: 10px;
}
#introSlider li.hide, .miniintroBanMenubar li.hide{
  display: none;
}
#introSlider li.show, .introBanMenu li.show{
  display: inline-block;
}